attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
cycler==0.11.0
Deprecated==1.2.13
dm-tree==0.1.6
envyaml==1.10.211231
filelock==3.6.0
fonttools==4.31.1
grpcio==1.43.0
gym==0.21.0
gym-notices==0.0.6
idna==3.3
imageio==2.16.1
importlib-metadata==4.11.3
importlib-resources==5.4.0
jsonschema==4.4.0
kiwisolver==1.4.0
lz4==4.0.0
matplotlib==3.5.1
msgpack==1.0.3
networkx==2.7.1
numpy==1.22.3
opencv-python==3.4.17.63
packaging==21.3
pandas==1.4.1
PettingZoo==1.16.0
pickle5==0.0.11
Pillow==9.0.1
protobuf==3.19.4
pycparser==2.21
pygame==2.1.0
pymunk==6.2.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
ray==1.10.0
redis==4.1.4
requests==2.27.1
scikit-image==0.19.2
scipy==1.8.0
six==1.16.0
tabulate==0.8.9
tensorboardX==2.5
tifffile==2022.3.16
torch==1.11.0
typing_extensions==4.1.1
urllib3==1.26.9
wrapt==1.14.0
zipp==3.7.0
